server:
  port: 8091
  servlet:
    context-path: /auction

spring:
  application:
    name: auction-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:password}@${DISCOVERY_SERVER:localhost}:8761/eureka
  instance:
    hostname: localhost
    prefer-ip-address: true

