spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${DATABASE_URL_MODERATION:jdbc:postgresql://localhost:5432/moderation}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
