server:
  port: 8086

spring:
  application:
    name: chat-service
  profiles:
    active: @spring.profiles.active@

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:password}@${DISCOVERY_SERVER:localhost}:8761/eureka
  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: INFO
    web: INFO
    org.springframework.amqp: DEBUG
    org.springframework.web.socket: DEBUG