@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #00000014;
    --global-bg-2: #3835a4;
    --global-bg-3: #46c598;
    --global-bg-4: #86d0c74c;
    --global-bg-5: #c4c4c4;
    --global-bg-6: #d9d9d9;
    --global-bg-7: #ffffff;
    --global-bg-8: #ffffff66;

    /* Text Colors */
    --global-text-1: #000000;
    --global-text-2: #262222;
    --global-text-3: #46c598;
    --global-text-4: #6d29d9;
    --global-text-5: #ffffff;

    /* EditText Colors */
    --edittext-bg-1: #f9f9f9;
  }
}

@layer utilities {
  /* Global Background Colors */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .bg-global-7 {
    background-color: var(--global-bg-7);
  }
  .bg-global-8 {
    background-color: var(--global-bg-8);
  }

  /* Global Text Colors */
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }

  /* EditText Colors */
  .bg-edittext-1 {
    background-color: var(--edittext-bg-1);
  }
}